.users-list-cont {
  min-height: 300px;
  width: 360px;
}

.UsersList {
  list-style: none;
  font-size: 25px;
}

.UsersList li {
  background-color: rgba(255, 255, 255, 0.5);
  color: #333;
  line-height: 100%;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 5px;

  display: flex;
  justify-content: space-between;
}

.UsersList li:hover {
  background-color: pink;
}

.x {
  font-weight: 700;
}

.x:hover {
  color: red;
  cursor: pointer;
}
